// customize some Bootstrap variables
$primary: darken(#428bca, 20%);
$light: #5ebfe5;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.flex {
  display: flex;
}


.mainTitle, .homeCategories, .categoryTitle, .articleTitle {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

}
#banner {
  display: none;
}

.cardsContainer{
  align-items:  center;
  flex-direction: column;
  margin: 20px;
}

.articleContainer {
  flex-direction: column;
  align-items: center;
}

.articleImage {
  width: 40%;
  border-radius: 10px;
}

.articleParagraph {
  width: 40%;
  margin: 40px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #a59c9c;

}

@media (min-width: 768px) {

  #banner {
    display: block;
    width: 100%;
  }

  .bannerImage {
    width: 100%;
  }

  .cardsContainer {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px;
  }

  .articleContainer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 600px;
  }

  .articleImage {
    width: 600px;
    height: 600px;
    border-radius: 10px;
  }

  .articleParagraph {
    font-size: 30px;

  }

}