// customize some Bootstrap variables
$primary: darken(#428bca, 20%);
$light: #5ebfe5;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

#main {
  position:relative;;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top:50px;
}

.flex {
  display: flex;
}


.mainTitle, .homeCategories, .categoryTitle, .articleTitle {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

}
#banner {
  display: none;
}

.cardsContainer{
  align-items:  center;
  flex-direction: column;
}


@media (min-width: 768px) {

  #banner {
    display: block;
    width: 100%;
  }

  .bannerImage {
    width: 100%;
  }

  .cardsContainer {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

}