{% extends 'base.html.twig' %}
{% block title %}Lire l'article{% endblock %}
{% block body %}
    <h1 class="articleTitle">{{ article.title }}</h1>

<div class="articleContainer flex">
    <img class = "articleImage" src="{{ article.picture}}" alt="Article image">
    <p class="articleParagraph">{{ article.content }}</p>
</div>

{% endblock %}
