{% extends 'base.html.twig' %}
{% block title %}Articles{% endblock %}

{% block body %}
<h1 class="categoryTitle">Articles dans {{ category.title}}</h1>
    {% include '_articles.html.twig' %}
{% endblock %}