{% extends 'base.html.twig' %}
{% block title %}Vive le Bugey Libre{% endblock %}
    {% block body %}
            <div id="banner" class="flex">
                        <img src="{{ asset('build/images/homeBanner.jpg') }}" alt="bannerimage" class="bannerImage">
            </div>

        <h1 class="mainTitle">Bienvenue Apprenti bugiste!</h1>
        <h3 class= "homeCategories">Nos categories</h3>
        {% include '_categories.html.twig' %}
    {% endblock %}
